* {
	font-family: 'Open Sans', sans-serif;
}
body {
	margin: 2.1em 2.1em;
	background: url('bg.jpg') no-repeat;
}

#viz-wrapper {
	text-align: center;
}

#title {

	margin-top: 6em; 
}

h1 {
	line-height: 1.4em;
}
select {
margin-top: 4em; 	
}



#audio-player {

	position: absolute;
    margin-left: 27%;
    margin-top: 13%;
    width: 40%;
    padding: 10px;

}
